{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'New Product'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'New Product'|trans }}</h1>
    {% include 'App:Product:form.html.twig' with {
        'form': form
    } %}
{% endblock %}
